:root{
    --light: white;
    --dark: black;
    --accent: #2A2829;
    --accent-2: #888787;
    --accent-3: #70F3CB;
    --accent-4: #88FF80;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

img {
    width: 100%;
}

.nav-container {
    background: var(--dark);
}

.nav-container ul a {
    color: var(--light);
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.social-header {
    display: none;
}

.name {
    color: var(--accent-3);
    font-weight: bold;
    font-size: 46px;
    padding-top: 0.5em;
}

.nav {
    float: right;
    display: flex;
    padding-top: 0;
    
}

.nav li {
    padding: 1em;
    font-size: 20px;
}

.hero {
    display: flex;
    background-image: linear-gradient(to right, #000000, #111010, #1b1a1b, #252424, #302e2e, #3c3a3a, #484646, #555252, #666363, #777575, #898787, #9b9a9a); 
    margin: 0;
}

.hero h1 {
    margin: 0;
    padding: 1em 0em 0em 1em;
    color: var(--accent-3);
    font-size: 80px;
}

.subtitle {
    color: var(--accent-4);
    padding: .75em 0 0 3.5em;
    font-size: 36px;
}

.hero-design {
    display: flex;
}